@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2{
  font-weight: 600;
  color: #000;
}

body {
  background-color: #dcb6ff;
  font-family: "Raleway", sans-serif;
  text-align: center;
}
.container {
  margin: 4rem;
}

.form-control{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem;
}

.form-control input {
  border: none;
  border-radius: 3px;
  width: 33%;
  height: 38px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 14px;
}

.form-control input:focus{
    outline: none;
}

.btn{
  width: 33%;
  height: 40px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 3px;
  margin: 0.7rem;
  cursor: pointer;
  text-decoration: none;
}

.btn:active {
  transform: scale(0.99);
}

